  #friendButton{
      margin-top: 15px;
      margin-left: 5px;

  }

  #photosButton{
        margin-top: 15px;
    }

  #publishButton{
          margin-top: 15px;
      }

  #feeding{
          margin-top: 15px;
          }
