<!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/socialOwlLogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Social Owls
  </a>

  <div id="about">
    <img id="headerImage" src="../assets/images/kutaygunal-image.jpg" style="width:70px;" alt="Kutay Gunal">
    <li  id="accountName" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Kutay Günal
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Home</a>
        <a class="dropdown-item" href="#">Images</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </li>
  </div>
</nav>
