<div class="card-body">
  <div class="form-group">
    <button class="btn btn-outline-primary btn-sm" [class.active] = "filterBy=='all'" (click)="filterBy='all'"> All </button>
    <button class="btn btn-outline-primary btn-sm" [class.active] = "filterBy=='boats'" (click)="filterBy='boat'"> Boat </button>
    <button class="btn btn-outline-primary btn-sm" [class.active] = "filterBy=='school'" (click)="filterBy='school'"> School </button>
  </div>
  <div class="row">
    <div class="mx-auto" *ngFor="let image of (visibleImages | imageFilter:filterBy)">
      <a data-fancybox="gallery" href="{{image.url}}">
        <img src="{{image.url}}" class="m-0" width="130" height="110">
      </a>
    </div>
  </div>
  <div class="mt-2">
    <form (submit)="uploadFile($event)">
      <div class="row">
        <div>
          <input type="file" (change)="previewFile()" #fileInput>
        </div>
        <div class="mt-1">
          <button type="submit" class="btn-primary btn-sm" [disabled]="fileDataUri.length === 0">+Photo</button>
        </div>
      </div>
    </form>
  </div>
</div>
