<div class="form-group">
  <button class="btn btn-outline-primary" [class.active] = "filterBy=='all'" (click)="filterBy='all'"> All </button>
  <button class="btn btn-outline-primary" [class.active] = "filterBy=='boats'" (click)="filterBy='boat'"> Boat </button>
  <button class="btn btn-outline-primary" [class.active] = "filterBy=='school'" (click)="filterBy='school'"> School </button>
</div>

<div class="row">
  <ul id="thumbnailList">
    <li *ngFor="let image of (visibleImages | imageFilter:filterBy)">
        <a data-fancybox="gallery" href="{{image.url}}">
          <img src="{{image.url}}" class="tn" width="150" height="120">
        </a>
    </li>
  </ul>
</div>
