<div class="row" id="pwd-container">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <section class="login-form">

      <form #form="ngForm" (ngSubmit)="onSubmitRegister(form.value)" role="login">
        <img src="../../assets/images/socialOwlLogo.png" width="200" height="160"/>
        <h1 align="center">Register</h1>
        <input required name="username"   placeholder="User Name"  required class="form-control input-lg" ngModel />
        <input required name="firstName"  placeholder="First Name" required class="form-control input-lg" ngModel />
        <input required name="lastName"   placeholder="Last Name"  required class="form-control input-lg" ngModel />
        <input required name="password"   placeholder="Password"   required class="form-control input-lg" ngModel type="password"  />
        <input required name="confirm"    placeholder="Confirm Password"  ngModel type="password" required class="form-control input-lg" />
        <div>
           <h6 style="color:red" *ngIf="passwordMatchingFailure">{{passwordMatchingFailure}}</h6>
        </div>
        <button outerLinkActive="active" type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
      </form>
    </section>
  </div>
  <div class="col-md-4"></div>
</div>
